# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dep

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Pictures
*.png
*.jpeg
*.eps

# Data
log.*
processor*/
*.Identifier
*.csv

# Folders
bin/
Basic*/
lnInclude/


# # Prerequisites
# **.d

# # Compiled Object files
# **.slo
# **.lo
# **.o
# **.obj
# **.dep

# # Precompiled Headers
# **.gch
# **.pch

# # Compiled Dynamic libraries
# **.so
# **.dylib
# **.dll

# # Fortran module files
# **.mod
# **.smod

# # Compiled Static libraries
# **.lai
# **.la
# **.a
# **.lib

# # Executables
# **.exe
# **.out
# **.app

# # Pictures
# **/*.png
# **/*.jpeg
# **/*.eps

# # Data
# processor*/
# **/*.csv
# log.*

# # Folders
# **/bin
# Basic*/
# lnInclude/
